  <div class="container d-block position-relative">
  <div id="inner-container" class="position-absolute bg-white border">
  <input id="search-box" (blur)="inputBlur($event)" [(ngModel)]="searchText" placeholder="Search for contact" class="d-flex align-items-center">
  <div *ngFor="let contact of this.dataService.contacts[0]">
    <ul class="pl-2 pt-2" id="search-menu" *ngIf="contact.name.toLowerCase().includes(searchText.toLowerCase()) 
         && searchText.length != 0">
         <li id="dropdown" tabindex="0" (click)="searchText=''" class="list-unstyled" [routerLink]="['/profile', contact.id]"
         routerLinkActive="router-link-active">{{contact.name}}</li>
  </ul>
  </div>
</div>
</div>
